{% extends 'base.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block body %}
    <h1>Edit Room</h1>

    {{ include('room/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="flex space-x-3">
        <a href="{{ path('app_room_index') }}" class="block text-white bg-blue-600 hover:bg-blue-700 p-2 rounded-lg w-fit mt-5">back to list</a>
        {{ include('room/_delete_form.html.twig') }}
    </div>

{% endblock %}
