{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
    <h1>Create new Room</h1>

    {{ include('room/_form.html.twig') }}

    <a href="{{ path('app_room_index') }}" class="block text-white bg-blue-600 hover:bg-blue-700 p-2 rounded-lg w-fit mt-5">back to list</a>
{% endblock %}
